<!-- TODO: add form fields to create a race and submit it -->
<%= form_for([@card, @race]) do |f| %>
  <p>
    <%= link_to 'Back', card_races_path(@card) %> |
    Race for <%= @card.name %>
  </p>
<% end %>