<div class="page-heading">
  <h1>Races</h1>
  <div>
    <% if @card.nil? %>
    <% else %>
      <%= link_to "New Race", new_race_path(@card), class: "btn" %>
  <% end %>
  </div>
</div>

<div id="races">
  <%= render "index_table" %>
</div>