<%= form_for(@runner) do |f| %>
  <div class="runner-edit-form-grid">
    <div class="runner-edit-form-column">
      <!--
      TODO: add input boxes for name, number, program_number, trainer, jockey, finish_position, finished, scratched, odds. Take note
       of the data-type for each field in the database and insure they're accurately captured.

       TODO (BONUS): add the following fields to the runners table and implement their capture here:
       - age (int, not-nullable) - add this to the create form
       - gender (string, nullable, limit 3 chars)
       - weight (decimal, nullable)
       - dam (mother) (string, nullable)
       - sire (father) (string, nullable)
       - career_earnings (decimal, nullable)

       This will require a migration to add these fields to the runners table.
       See the migration file in the db/migrate directory for an example.

       -->
    </div>

    <!-- TODO: add input boxes for form, additional_data, past_performances, these should be large expandable text boxes -->
    <div class="runner-edit-form-column runner-edit-form-column--wide">
      <div class="form-group">
      </div>

      <div class="form-group">
      </div>

      <div class="form-group">
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>