<div class="page-heading">
  <h1>Edit Card - <%= @card.name %></h1>
  <div>
    <%= link_to "View All Cards", cards_path, class: "btn" %>
    <%= link_to "New Card", new_card_path, class: "btn" %>
  </div>
</div>

<%= render "form" %>